.new-user
  .user-box
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = render "devise/shared/error_messages", resource: resource
      %h2 新規登録
      .field-nickname
        = f.label :nickname, "ニックネーム"
        %br/
        = f.text_field :nickname, autofocus: true, autocomplete: "nickname"
      .field-email
        = f.label :email, "メールアドレス"
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email"
      .field-password
        = f.label :password, "パスワード (8文字以上)"
        - if @minimum_password_length
          %em
            (#{@minimum_password_length} characters minimum)
        %br/
        = f.password_field :password, autocomplete: "new-password"
      .field-password_confirmation
        = f.label :password_confirmation, "パスワード (確認用)"
        %br/
        = f.password_field :password_confirmation, autocomplete: "new-password"
      .actions
        = f.submit "新規登録"
    = render "devise/shared/links"
